.container-menu{
    display: flex;
    justify-content: space-around;
}
.container-menu > ul{
    width: 15rem;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.menu-link{
    color: #000000;
}
.menu-link:hover{
    color: var(--secondary-color);
}

