.container-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: auto;
    gap: 1rem;
}

/********** Medias Queries **********/

@media screen and (max-width: 760px){
    .container-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 460px){
    .container-grid {
      grid-template-columns: repeat(1, 1fr);
  }
  }