/********** Google fonts **********/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root{
/********** Colores **********/
--primary-color: #283A5E;
--secondary-color:#4AD9A4;
--input-color:#0B64FB;
--text-color:#65728C;
--body-color:#F0F2F1;
--back-color: #000000;
--white-color: #FFFFFF;

/********** Font **********/
--body-font: 'Roboto', sans-serif;
--h1-font-size: 1.5rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;


@media screen and (min-width: 768px){
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  }

}

/********** Global **********/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);       
  color: var(--text-color);
  background-color: var(--body-color);
}
h1{
  margin: 0;  
}

a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

button:hover{
  background-color: var(--secondary-color);
}


/********** Search Form **********/
.container{
  display: grid;
  grid-template-columns: 100%;
  height: auto;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.simple-container-grid{
  display: grid;
}

.justify-center{
  justify-self: center;
}

.justify-center img{
  width: 100%;
  margin-top: 1rem;
}

.forms{
  height: 360px;
}

.form{
  /* width: 100%; */
  background-color: var(--white-color);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35, 0, 77, .2);
}

.title{
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}


.input-box{
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: .5rem;
  padding: 1.125rem 1rem;
  background-color: var(--white-color);
  border-radius: .5rem;
  margin: 1rem 0rem;
  border: 3px solid var(--body-color);

}

 .simple-input{
  border: none;
  outline: none;
  font-size: var(--small-font-size);
  font-weight: 700;
  color: var(--primary-color);
} 


/*  */

.nomal-button{
  color: var(--white-color);
  background-color: var(--input-color);
  border-radius: 10px;
  border: 0px;
  box-shadow: none;
  font-size: var(--normal-font-size);
  font-weight: 700;
  text-shadow: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.cancel-button{
  color: var(--white-color);
  background-color: red;
  border-radius: 10px;
  border: 0px;
  box-shadow: none;
  font-size: var(--normal-font-size);
  font-weight: 700;
  text-shadow: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}
.disable-button{
  color: var(--text-color);
  border-radius: 10px;
  border: 0px;
  box-shadow: none;
  font-size: var(--normal-font-size);
  font-weight: 700;
  text-shadow: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.text-center{
  text-align: center;
}
.simple-padding-top{
  padding-top: 1rem;
}

.empty-space{
  padding: 1rem 0;
}

.help-text{
  width: auto;
  text-align: center;
  padding: 1rem 0;
}

/* Flex */
.container-flex{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}




/********** Medias Queries **********/
@media screen and (min-width: 576px){
  .forms{
     width: 600px;
    justify-self: center;
      
  }
}

@media screen and (min-width: 1024px){
  .container{
    height: 100vh;
    overflow: hidden;
    }

  .simple-container-grid{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    
  }     
}